.bar {
    margin-bottom: 50px;
}

.dark-mode {
    background-color: hsl(207, 26%, 17%);
    color: hsl(0, 0%, 100%);


}

.light-mode {
    background-color: hsl(0, 0%, 98%);
    color: hsl(200, 15%, 8%);
}