.button{
    margin-left: 100px;
    padding-left: 100px;
}
.details-content {
	padding: 4em 2em;
}

.flag {
	margin: 0 auto;
	max-width: 500px;
}

.flag img {
	height: 200px;
	width: 100%;
}

.information h2 {
	margin: 2em 0 1em;
}

.information--main,
.information--additional {
	margin-bottom: 4em;
}

.information--box {
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.information--borders h3 {
	margin-bottom: 1em;
}

.border-countries {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
}

.border-countries a {
	margin: 0 0.5em 0.5em 0;
}

@media (min-width: 768px) {
	.flag img {
		height: 300px;
	}

	.information {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-direction: column;
	}

	.information--borders h3 {
		text-align: center;
	}
}

@media (min-width: 1400px) {
	.details-card {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.flag {
		margin: 0;
	}

	.flag img {
		height: 500px;
		width: 700px;
	}

	.information {
		align-items: flex-start;
		width: 550px;
	}

	.information h2,
	.information--general,
	.information--additional {
		margin: 0;
	}

	.information h2 {
		margin-bottom: 0.8em;
	}

	.information--box {
		display: flex;
		justify-content: space-between;
		width: 100%;
	}

	.information--borders {
		display: flex;
		align-items: center;
		width: 100%;
		margin-top: 1em;
	}

	.information--borders h3 {
		margin: 0 0.5em 0 0;
		font-size: 1.6rem;
	}

	.border-countries {
		justify-content: flex-start;
	}
}